body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

main {
    margin: 3%;
    display: flex;
    flex-direction: column;
}

.team-members {
    display: flex;
    flex-direction: column;
}

.team-member-name {
    font-size: 1.4em;
}

.projects {


}