body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

main {
    margin: 3%;
    display: flex;
    flex-direction: column;
}

.team-members {
    display: flex;
    flex-direction: column;
    flex: 0.60;
    
}
.projects {
    flex:0.40;
}


.team-member-name {
    font-size: 1.3em;
}

.container {
    display:flex;
    gap: 20px; 
}
.projects, .team-members {
    padding: 15px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;

}